%link(type="text/css" rel="stylesheet" href="/site-header.css?v=200312")

.site-header(class="#{page == 'finishes' ? 'drawer' : ''}")
  .xlarge-container
    .menu-container
      .ui.small.compact.menu.hide-print
        %a.item{ href: "/project/#{access_token}/finishes", class: page == "finishes" ? "active" : "" } Finish Selections
        - if (project.units || []).length > 0
          %a.item{ href: "/project/#{access_token}", class: page == "renderings" ? "active" : "" } Renderings

    %h1= project["Name"]

.site-header.spacer
  .xlarge-container
    .menu-container
      .ui.small.compact.menu.hide-print
        %a.item{ href: "/project/#{access_token}/finishes", class: page == "finishes" ? "active" : "" } Finish Selections
        - if (project.units || []).length > 0
          %a.item{ href: "/project/#{access_token}", class: page == "renderings" ? "active" : "" } Renderings

    %h1= project["Name"]

