%script(src="/script.js")

.container
  %h1= @procurement_form["Name"]
  %p.italic= @procurement_form["Project Name"].first

  %p.bold DO NOT SHARE THIS PAGE. Use the link below.
  %p
    %a{ href: "/procurement_forms/#{@procurement_form["Access Token"]}" } Shareable Link

  %hr

  %p Jump To

  %ul
    %li
      %a{ href: "#plans" } Plans &amp; Elevations
    %li
      %a{ href: "#ceiling-height" } Ceiling Height
    %li
      %a{ href: "#wall-color" } Wall Color
    %li
      %a{ href: "#trim" } Trim &amp; Moulding
    %li
      %a{ href: "#flooring" } Flooring
    %li
      %a{ href: "#doors" } Doors
    %li
      %a{ href: "#windows" } Window
    %li
      %a{ href: "#window-covering" } Window Covering
    %li
      %a{ href: "#lighting" } Lighting
    %li
      %a{ href: "#closets" } Closets
    %li
      %a{ href: "#bathroom-cabinets" } Bathroom Cabinets
    %li
      %a{ href: "#bathroom-counters" } Bathroom Counters
    %li
      %a{ href: "#bathroom-sinks" } Bathroom Sinks
    %li
      %a{ href: "#kitchen-cabinets" } Kitchen Cabinets
    %li
      %a{ href: "#kitchen-counters" } Kitchen Counters
    %li
      %a{ href: "#kitchen-sinks" } Kitchen Sinks
    %li
      %a{ href: "#appliances" } Appliances
    %li
      %a{ href: "#decorations" } Decorations

  %hr

  %h4.bold#plans Plans &amp; Elevations
  %p Upload any files that we would need.
  %p.header These files should include things like:
  %ul
    %li Floor plans (CAD or PDF).
    %li Window schedule and locations.
    %li Door schedule, locations, and door swings.
    %li Kitchen and bathroom vanity elevations.
  = haml :_procurement_form_input, locals: { name: "Plans" }

  %hr

  %h4.bold#ceiling-height What is the ceiling height?
  %p If it varies, make sure it is specified in the plans/CAD files you upload and specify the file it is in here.
  = haml :_procurement_form_input, locals: { name: "Ceiling Height" }

  %hr

  %h4.bold#wall-color What color should the walls be?
  %p Specify a wall color name or describe the color you want.  If you have any accent colors, specify those as well.
  = haml :_procurement_form_input, locals: { name: "Wall Color" }

  %hr

  %h4.bold#trim What styles, colors and locations for trim &amp; moulding?
  %p Specify where any trim or moulding should go as well as the style and colors for each.
  = haml :_procurement_form_input, locals: { name: "Trim" }

  %hr

  %h4.bold#flooring What styles, colors and locations for flooring?
  %p Specify where each flooring type should go as well as the style and colors.
  = haml :_procurement_form_input, locals: { name: "Flooring" }

  %hr

  %h4.bold#doors What style and colors for doors?
  %p We’ll be able to get locations and sizes of doors from your plans.  If not, make sure it’s included here.  Also make sure door swings are included.  We also need the door styles as well as colors.
  = haml :_procurement_form_input, locals: { name: "Doors" }

  %hr

  %h4.bold#windows What window style? Pane type? Trim? Sill? Colors?
  = haml :_procurement_form_input, locals: { name: "Windows" }

  %hr

  %h4.bold#window-covering Blinds/curtains style? Color?
  = haml :_procurement_form_input, locals: { name: "Window Covering" }

  %hr

  %h4.bold#lighting Light fixture style? Color? Lighting plan?
  = haml :_procurement_form_input, locals: { name: "Lighting" }

  %hr

  %h4.bold#closets Closet shelving type? Locations? Color?
  = haml :_procurement_form_input, locals: { name: "Closets" }

  %hr

  %h4.bold#bathroom-cabinets Bathroom cabinet style?
  = haml :_procurement_form_input, locals: { name: "Bathroom Cabinets" }

  %hr

  %h4.bold#bathroom-counters Bathroom countertop style?
  = haml :_procurement_form_input, locals: { name: "Bathroom Counters" }

  %hr

  %h4.bold#bathroom-sinks Bathroom sink style?
  = haml :_procurement_form_input, locals: { name: "Bathroom Sink" }

  %hr

  %h4.bold#kitchen-cabinets Kitchen cabinet color?
  %p If you didn’t add kitchen elevation above, you can do that here.  Also make sure cabinet depths are specified somewhere.  Specify the cabinet colors you are looking for as well.
  = haml :_procurement_form_input, locals: { name: "Kitchen Cabinets" }

  %hr

  %h4.bold#kitchen-counters Kitchen countertop type?  Color?
  %p Specify the kitchen countertop type and color.
  = haml :_procurement_form_input, locals: { name: "Kitchen Counters" }

  %hr

  %h4.bold#kitchen-sinks Kitchen sink style?
  %p If not specified in the plans or kitchen elevation, describe the styles here.
  = haml :_procurement_form_input, locals: { name: "Kitchen Sink" }

  %hr

  %h4.bold#appliances Appliance style?
  %p If not specified in the plans or elevations, describe the styles here.  Typically fridge, washer & dryer, and dishwasher styles need to be specified.
  = haml :_procurement_form_input, locals: { name: "Appliances" }

  %hr

  %h4.bold#decorations General decoration style?
  %p This is entirely optional and we will fill in decoration and furniture as well.  We’ll match the furniture layout in any of the files above or uploaded here.  And fill in some extras.
  = haml :_procurement_form_input, locals: { name: "Decorations" }

.save-status Unchanged


:javascript
  var AWS_IDENTITY_POOL_ID = "#{aws_identity_pool_id}";
  var _procurementFormAccessToken  = "#{@procurement_form['Access Token']}";
