!!!
%html
  %head
    - if defined? fixed_width_viewport
      %meta(name="viewport" content="width=1200, initial-scale=1, maximum-scale=1.0")
    - else
      %meta(name="viewport" content="width=device-width, initial-scale=1")

    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/

    %script{:crossorigin => "anonymous", :integrity => "sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=", :src => "https://code.jquery.com/jquery-2.2.4.min.js"}
    %script{ src: "https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js" }
    %script{:src => "https://s3-us-west-2.amazonaws.com/construction-vr/libs/marzipano.js", type: "text/javascript"}
    %script{:src => "https://s3-us-west-2.amazonaws.com/construction-vr/libs/rAF.js", type: "text/javascript"}
    %script{:src => "https://s3-us-west-2.amazonaws.com/construction-vr/libs/es5-shim.min.js", type: "text/javascript"}
    %script{:src => "https://s3-us-west-2.amazonaws.com/construction-vr/libs/aws-sdk.min.js", type: "text/javascript"}

    -#We need semantic js api for now.
    %script(src="/semantic.min.js?v=190407")
    %link(type="text/css" rel="stylesheet" href="/semantic.min.css?v=190407")

    - if !defined? no_style
      %link(href="https://fonts.googleapis.com/css?family=Lato:400,700,900|Roboto:300,400,700|Handlee" rel="stylesheet")
      %link(type="text/css" rel="stylesheet" href="/style.css?v=200312")

  %body{ class: defined?(is_admin_mode) && is_admin_mode ? "admin-mode" : "" }
    - if current_user
      %header
        .xlarge-container
          %nav.ui.text.menu
            .item
              %a{ href: "/projects" }
                %i.home.icon
            .ui.dropdown.item
              %a.browse.item
                My Projects
                %i.dropdown.icon
              .menu
                - current_user.teams.each do |team|
                  .header
                    %i{ class: "sitemap icon" }
                    = "Team: " + team["Name"]
                  - team.projects.each do |project|
                    .item
                      %a{ href: "/project/#{project["Access Token"]}/finishes" }
                        = project["Name"]
            - if current_user.is_admin?
              .item
                %a{ href: "/cdd3e3ea-b1bb-453b-96d3-35d344ebc598/rendering/dashboard" }
                  Rendering Dashboard

            .ui.dropdown.item.right
              %a.browse.item
                %i.user.circle.icon
                = current_user["Email"]
                %i.dropdown.icon
              .menu
                .item
                  %a Account
                .item
                  %a Billing
                .item
                  %a My Team
                .item
                  %a Teams You're On
                .item
                  %a{ href: "/logout" } Logout

    = yield

    - if defined? fixed_width_viewport
      :javascript
        var $viewportElement = document.head.querySelector("[name~=viewport]");
        var ratio = document.body.clientWidth / 1200;
        $viewportElement.setAttribute('content', 'width=1200, maximum-scale=1.0, initial-scale=' + ratio);

    :javascript
      $('.ui.dropdown').dropdown({ });
