.container
  %p
    %a{ href: "/project/#{access_token}/feedbacks/permalinks" } Permalinks
  %p
    %a{ href: "/project/#{access_token}/feedbacks/permalinks/new" } Create Permalink

  %h2 Jump to Unit

  - @units.each do |u|
    - next if u.feedbacks.count == 0
    %p
      %a{ href: "##{u.id}" }= u["Name"]

  %hr

  - @units.each do |u|
    - next if u.feedbacks.count == 0

    %h2{ id: "#{u.id}" }= u["Name"]

    - u.feedbacks.reverse.each do |f|
      - next if f["Screenshot"].nil?

      %img{ src: f["Screenshot"][0]["url"] }
      %p= f["Notes"]

      %br
