- @finishes.each do |category, finishes|
  %h2= category

  %table
    %thead
      %tr
        %th{ style: "width: 13%;" } Type
        %th{ style: "width: 7%;" } Location
        %th{ style: "width: 9%;" } Room
        %th{ style: "width: 15%;" } Option Name
        %th{ style: "width: 22%;" } Option Info
        %th{ style: "width: 34%;" } Option Image
    %tbody
      - finishes.each do |finish|
        %tr
          %td= finish["Type"]
          %td= finish["Location"]
          %td= finish["Room"]
          %td= finish["Option Names"].first
          %td
            - if !finish["Option Info"].nil? or !finish["Notes"].nil?
              - notes = finish["Notes"] || ""
              - info = finish["Option Info"] || [""]
              = markdown.render("#{notes}\n\n#{info.first}")
          %td
            - if !finish["Option Images"].nil?
              %img{ src: finish["Option Images"].first["url"] }

:css
  @media print {
    body { font-size: 14px; }
    table { page-break-inside:auto; page-break-after: always;}
    tr { page-break-inside:avoid; page-break-after:auto }
  }

  img {
    max-height: 225px;
    display: block;
  }

  tbody td, tbody tr {
    height: 225px;
  }

  table {
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
  }

  table, th, td {
    border: 1px solid black;
    word-wrap: break-word;
  }

  td {
    padding: 1px 10px;
  }

  td * {
    font-size: 14px;
    line-height: 1.2;
  }

  thead tr {
    height: 30px;
  }

