.xlarge-container
  %h1= project["Name"]

  #finishes-app

  %p.filters
    Filter:
    %a.selected{ href: "#", data: { location: "all" } } All
    |
    %a{ href: "#", data: { location: "units" } } Units
    |
    %a{ href: "#", data: { location: "common-areas" } } Common Areas
    |
    %a{ href: "#", data: { location: "amenities" } } Amenities

  .selections-container
    - @finish_categories.each do |obj|
      - category = obj[:category]
      - finishes = obj[:selections]
      - next if finishes.nil? or finishes.length == 0

      %h2= category

      %table
        %thead
          %tr
            %th{ style: "width: 33%;" } Selection
            %th{ style: "width: 66%;" } Options
        %tbody
          - finishes.each_with_index do |finish, i|
            - next if finish["Location"].nil?
            - finish_options = @options_for_selection[finish.id]
            - location_class = (finish["Location"] || "").downcase.gsub(" ", "-")
            - row_shade_class = i % 2 == 0 ? "white" : "shade"

            %tr.selection{ class: [location_class, row_shade_class].join(" "), data: { selection_id: finish.id, type: finish["Type"], location: "#{finish['Location']} - #{finish['Room']}" } }
              %td
                %p.bold{ style: "margin-bottom: 0px; line-height: 1.2;" }= finish["Type"]
                %p= "#{finish['Location']} - #{finish['Room']}"
                - if is_admin_mode
                  .admin-controls
                    %a.remove-selection{ href: "javascript:void(0)" } Remove Selection
                    .ui.popup.remove-selection-popup
                      .header Remove Selection Row?
                      %p You are about to remove the entire row for this selection. Do you want to continue?  This is not removing an option.
                      .ui.red.button Remove

                - if !finish["Notes"].nil?
                  - notes = (finish["Notes"] || "").gsub("\n", "<br>")
                  .notes
                    = markdown.render(notes)

              %td.selection-options-container{ style: "padding: 8px;" }
                - finish_options.each do |finish_option|
                  = haml :_finish_option_card, locals: { markdown: markdown, is_admin_mode: is_admin_mode, finish_option: finish_option }

                - if is_admin_mode
                  %a.open-selection-option-modal{ href: "javascript:void(0)" } + Link Options to this Selection

  - if is_admin_mode
    = haml :_finish_selection_modal, locals: { access_token: access_token }

:javascript
  $(document).ready(function () {
    var $filters = $(".filters");
    $filters.click("a", function (e) {
      e.preventDefault();
      var $this = $(e.target);
      var location = $this.data("location");

      $(".filters a").removeClass("selected");
      $this.addClass("selected");
      $(".selection").show();

      if (location != "all") {
        $(".selection").hide();
        $(".selection." + location).show();
      }
    });

    $('.remove-selection').popup({
      inline: true,
      on: "click",
      onHide: function() {
        $('.remove-selection-popup .ui.red.button').text("Remove");
      },
    });

    function removeSelection(selectionId) {
        $(".selection[data-selection-id=\"" + selectionId + "\"]").remove();
        $.post("finishes/selection/" + selectionId + "/remove");
    }

    $('.remove-selection-popup .ui.red.button').click(function(e) {
        var $this = $(this);
        if ($this.text() == "Are you sure?") {
            var selectionId = $this.closest(".selection").data("selection-id");
            removeSelection(selectionId);
        } else {
            $this.text("Are you sure?");
        }
    })

    $('.unlink-selection-option').popup({
      inline: true,
      on: "click",
      onHide: function() {
        $('.unlink-selection-option-popup .ui.red.button').text("Unlink");
      },
    });
    $('.copy-to-edit-option').popup({ inline: true, on: "click" });

    function unlinkSelectionOption(selectionId, optionId) {
        $(".selection[data-selection-id=\"" + selectionId + "\"] .option[data-option-id=\"" + optionId + "\"]").remove();
        $.post("finishes/selection/" + selectionId + "/option/" + optionId + "/unlink");
    }

    $('.selections-container').on('click', '.unlink-selection-option-popup .ui.red.button', function(e) {
        var $this = $(this);
        if ($this.text() == "Are you sure?") {
            var selectionId = $this.closest(".selection").data("selection-id");
            var optionId = $this.closest(".option").data("option-id");
            unlinkSelectionOption(selectionId, optionId);
        } else {
            $this.text("Are you sure?");
        }
    })

    $('.open-selection-option-modal').click(function(e) {
      var $this = $(this);
      var $modal = $(".finish-selection-modal");
      var $selection = $this.closest(".selection");
      var selectionId = $selection.data("selection-id");
      var selectionType = $selection.data("type");
      var selectionLocation = $selection.data("location");

      $(".finish-selection-modal").data("selection-id", selectionId);

      $(".finish-selection-modal .selection-type").text(selectionType);
      $(".finish-selection-modal .selection-location").text(selectionLocation);

      $(".finish-selection-modal .finish-search-input").val("");
      $(".finish-selection-modal .finish-search-input").trigger("keyup");
      $modal.modal('show');
    });
  });

:css
  table {
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
  }

  table, th, td {
    border: 1px solid black;
    word-wrap: break-word;
  }

  tr.white { background-color: #ffffff; }
  tr.shade { background-color: #f2f2f2; }

  td {
    vertical-align: top;
    padding: 3px 5px;
  }

  img {
    padding: 1px;
    max-width: 175px;
    max-height: 175px;
    display: inline-block;
  }

  .bordered {
    border: 1px solid #cccccc;
  }

  .selection-info {
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    word-wrap: break-word;
  }

  .selection p {
    margin-bottom: 5px;
    word-wrap: break-word;
  }

  .selection .notes p,
  .selection .notes a,
  .finish-selection-modal .option .notes p,
  .finish-selection-modal .option .notes a {
    font-size: 14px;
    word-wrap: break-word;
  }

  a.selected {
    color: #000000;
    font-weight: bold;
  }

  a.selected:hover {
    text-decoration: none;
  }

  @media print {
    body { font-size: 14px; }
    table { page-break-inside:auto; page-break-after: always;}
    tr { page-break-inside:avoid; page-break-after:auto }
    img.one { max-width: 175px; max-height: 175px; }
    img.two { max-width: 100px; max-height: 100px; }
  }


