.xlarge-container
  %p.filters
    Filter:
    %a.selected{ href: "#", data: { location: "all" } } All
    |
    %a{ href: "#", data: { location: "units" } } Units
    |
    %a{ href: "#", data: { location: "common-areas" } } Common Areas
    |
    %a{ href: "#", data: { location: "amenities" } } Amenities

  %h1= project["Name"]

  - @finishes.each do |category, finishes|
    %h2= category

    %table
      %thead
        %tr
          %th{ style: "width: 33%;" } Description
          %th{ style: "width: 67%;" } Option Image
      %tbody
        - finishes.each do |finish|
          %tr.selection{ class: finish["Location"].downcase.gsub(" ", "-") }
            %td
              %p.bold.large
                = finish["Type"]

              - if !finish["Option Names"].nil?
                %p
                  %b Selection:
                  = finish["Option Names"].first

              %p
                %b Location:
                = "#{finish['Location']} - #{finish['Room']}"

              %p.bold.no-margin Notes:
              - if !finish["Option Info"].nil? or !finish["Notes"].nil?
                - notes = finish["Notes"] || ""
                - info = finish["Option Info"] || [""]
                = markdown.render("#{notes}\n\n#{info.first}")
            %td
              - if !finish["Option Images"].nil?
                - finish["Option Images"].each do |m|
                  %img{ src: m["url"] }

:javascript
  $(document).ready(function () {
    var $filters = $(".filters");
    $filters.click("a", function (e) {
      e.preventDefault();
      var $this = $(e.target);
      var location = $this.data("location");

      $(".filters a").removeClass("selected");
      $this.addClass("selected");
      $(".selection").show();

      if (location != "all") {
        $(".selection").hide();
        $(".selection." + location).show();
      }
    });
  });

:css
  @media print {
    body { font-size: 14px; }
    table { page-break-inside:auto; page-break-after: always;}
    tr { page-break-inside:avoid; page-break-after:auto }
  }

  img {
    padding: 1px;
    max-width: 255px;
    max-height: 225px;
    display: inline-block;
  }

  tbody td, tbody tr {
    height: 225px;
  }

  table {
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
  }

  table, th, td {
    border: 1px solid black;
    word-wrap: break-word;
  }

  td {
    padding: 10px;
    vertical-align: top;
  }

  td * {
    font-size: 16px;
    line-height: 1.2;
  }

  thead tr {
    height: 30px;
  }

  a.selected {
    color: #000000;
    font-weight: bold;
  }

  a.selected:hover {
    text-decoration: none;
  }

