.container
  .header.hide-print
    %h3 Jump to Unit

    - @units.each do |u|
      - next if u.versions.count == 0
      %p
        %a{ href: "##{u.id}" }= u["Name"]

    %hr

  - @units.each do |u|
    .unit.break-after
      - next if u.versions.count == 0
      %h2{ id: "#{u.id}" }= u["Name"]

      - u.versions.each do |v|
        .version
          - t = Time.parse(v["Created At"]).strftime('%b %e, %Y')
          %p.hide-print
            %a.toggle-visible{ href: "#" } Show
            = " - #{t}"

          .feedbacks{ style: "display: none;" }
            %h3= t

            - v.feedbacks.reverse.each do |f|
              - next if f["Screenshot"].nil?

              %img{ src: f["Screenshot"][0]["url"] }
              %p= f.notes_html

              %br

:javascript
  $(document).ready(function () {
    $(".toggle-visible").click(function (e) {
        var $this = $(this);
        e.preventDefault();

        $this.parent().parent().find(".feedbacks").toggle();
        $this.text($this.text() == "Show" ? "Hide" : "Show");
    });
  });
